@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  @apply font-Montserrat font-normal ;
}
:root{
  --main-bg-color:#122643;
  --secondary-bg-color:#FFB6B5;
  --secondary-bg-color-hover:#cc8f8e;
}
